:root{
    --rosa:#FA57BF; /*Define uma cor que pode ser utiliada varias vezes */
    --preta:#141414;/*idem a anterior*/
}

*{
    margin: 20;/* define a margem geral*/
    padding: 0; /*Define o enchimento geral*/
    box-sizing: border-box; /*Define as formas das caixas no geral*/
}
/*Elemento basse*/
Body{
    background: var(--preta);/*Define a cor do fundo do corpo do site*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /*Define o estilo das letras*/
    color: white;
}

header .container{/*Define a parte do header que contém o container*/
    display: flex;/* Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens - trasforma a tela em flexivel */
    flex-direction:row ;/* coloca a direção em fileira*/
    align-items: center;/*alinha os intens no centro*/
    
}

@font-face { /*Define familia de fontes extra as usuais*/
    font-family: bebas, serif;/*Define a familia da fonte*/
    src: local(bebas), url(/font/BebasNeue-Regular.ttf);/*Indica nome da familia para utilizção e o local que ela se encontra*/
}

header .logo{ /*Define os estilos para o logo*/
    margin-left: 30px;/*coloca uma margem esquerda*/
    margin-right: 50px;/*Coloca uma margem a direita*/
    color: #FA57BF;/*Coloca cor no texto*/
    font-family: bebas, Times; /*Define o estilo da fonte*/
    font-size: 50px; /*Define o tamanho da fonte*/
    letter-spacing: 3px; /* coloca espaço entre as letras*/
    
}

header nav a{ /*Define os estilos para a nav bar*/
    text-decoration: none;/*Define a decoração*/
    color: #AAA;/*Define a cor*/
    margin-right: 10px;/*Define a margem direita*/
    margin-left: 20px;
}

header nav a:hover{/* define a cor que aparecerá quando colocamos o cursor por cima do texto da navbar)*/
    color:#fff;/*Define como cor branca*/
}

/* Filme principal*/
.filme-principal{
    font-size: 20px;
    background: url(../img/bg-01-9-758x426.jpg); 
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 15%;
    font-size:40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color:white;
    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition:.3s ease all;
}

.botao:hover{
    background-color: var(--rosa);
    color:black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;

}

.box-filme{
    margin-top: 0px;
    height:100%;
    width:100%;
    display:block;
}

.filmes{
    margin-left: 30px;
}

.series{
    margin-left: 30px;
}

.Shows{
    margin-left: 30px;
}

